.BoxInfoUser {
    background: #fff;
    float: left;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
    border-radius: 0.125rem;
    width: 100%;
}

.add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    button {
        color: #fff;
        height: 40px;
        width: 180px;
    }


}

.btn {
    margin-right: 12px;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    text-align: center;

    svg {
        font-size: 150px;
    }
}

.form {
    padding: 20px 40px;

}

.wrapperAddress {
    width: calc(100% - 40px);
    margin: 0 20px;
    background: #fff;
    padding: 20px 0;
    line-height: 2;
    font-size: 14px;
}

.wrapdetail {
    display: flex;
    align-items: center;
}

.name {
    font-size: 16px;
    font-weight: 600;
}

.wrapp {
    border-top: 1px solid #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.update {
    text-decoration: underline;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;

    :hover {
        text-decoration: none;
        color: #d87035;
    }
}

.btn2 {
    padding: 10px;

    button {
        background: black;
        color: #fff;
        border-radius: 4px;
    }
}

.WrapperOrder {
    border: 0.625px solid #e5e5e5;
    padding: 10px;
    margin: 10px 0;
}

.wp {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.detail {
    padding-top: 4px;
    cursor: pointer;
    font-weight: 600;
}

.detail:hover {
    text-decoration: underline;
}

.line {
    display: flex;
    gap: 20px;
}