<div class="hero" style="background: black; color: #FFF;">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Thông tin khách hàng</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="view-account">
      <section class="module">
          <div class="module-inner">
              <div class="side-bar">
                  <div class="user-info">
                      <img class="img-profile img-circle img-responsive center-block" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                  </div>
              <nav class="side-menu">
              <ul class="nav">
                <li class="active"><a [routerLink]="['/profile/profile-user']"><span class="fa fa-user"></span>Thông tin</a></li>
                <li><a [routerLink]="['/profile/purchase-order']"><span class="fa fa-cog"></span> Đơn mua</a></li>
              </ul>
            </nav>
              </div>
              <div class="content-panel">
                  <router-outlet></router-outlet>
              </div>
          </div>
      </section>
  </div>
</div>
